<p id="baslik">WE SELL CARS, BUT WE’RE NOT CAR SALESMEN</p>
<div id="yazi">Your experience doesn’t end once you get the keys. Our goal is to make sure you have peace of mind when it comes to your new ride.
</div>

<p id="baslik">Online means savings</p>
<div id="yazi">Our 100% online process cuts out the middlemen, so you get a lower price from the start. No commissions, no pressure, and no hidden fees. Saving you $1,400 on average compared to traditional dealerships.</div>
<p id="baslik">Pick up your car or have it delivered</p>
<div id="yazi">With Zone, you decide how and when you’ll receive your ride. Have it delivered right to your driveway or pick it up from one of our car vending machines. Your choice.
</div>
<br>
<br>
<br>
<br>